#-- Configuração banco de dados SQL --#
DB_HOST = "DESKTOP-EFPSBMB\\RAFAEL"
DB_USER = "sa"
DB_PASSWORD = "123456"
DB_DRIVER = "sqlsrv"
DB_NAME = "Db_Tank_102"
BASE_SERVER = "Db_Center"

# -- Configuração servidor de e-mail -- #
SMTP_HOST = ''
SMTP_USERNAME = ''
SMTP_PASSWORD = ''
SMTP_PORT = ''

# -- Keys -- #
PRIVATE_KEY = 'ae50f388f09b9d7729f342df31abe712a7791f9bd1831e9a3db702112aad2590'
PUBLIC_KEY = '7c101d33045ac148dac1f571f3e482f1644156cb46b8f13d75f132dae56d2476'

PICPAY_TOKEN = '123456'
PAGARME_TOKEN = '123456'